# R junk
.Rhistory
.RData
.Rproj.user

# Large data files
*.rds
R_scripts_dea_gsea/results/files_for_python/

#External resources
gene_sets/
EMT_scoring_and_cox_model/results/tcga_logcpm_01.tsv

# OS
.DS_Store

#Virtual environment
.venv/
# Local review artifacts
_review*
